.header__lang-link {
	text-decoration: none;
	font-weight: 400;
	color: #fff;
	line-height: 28px;
}
.header__lang-link:focus,
.header__lang-link:hover {
	border-bottom: 2px solid #fff;
}
.header__lang-link:hover {
	opacity: 0.8;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.header__lang-link {
		font-size: 24px;
		line-height: 1.17;
	}
}
@media (max-width:425px){
   .header__lang-link{
       font-size: 18px;
   }
}