.body {
	background-color: #2a2c2f;
	min-width: 320px;
	color: #fff;
	font-family: "Inter", Arial, Helvetica, sans-serif;
	margin: 0 auto;
}
.page {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	font-family: "Inter", "Arial", sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

/* оболочка контента */
.header {
	min-width: 288px;
	max-width: 1184px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	font-size: 18px;
	line-height: 1.11;
	padding: 16px 16px 0 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.header {
		padding: 28px 24px 0 24px;
	}
}

@media (min-width: 1024px) and (max-width: 1024px) {
	.header {
		padding: 28px 48px 0 48px;
	}
}
.header__logo {
	height: 42px;
	width: 142px;
}
.header__logo {
	height: 42px;
	width: 142px;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.header__logo {
		height: 52px;
		width: 176px;
	}
}
.header__list {
	font-size: 24px;
}
.header__lang-links {
	list-style: none;
	padding-top: 13px;
	align-items: center;
	margin: 0;
	padding: 0;
	display: inline-flex;
}
.header__list:last-child {
	margin-left: 18px;
}
.header__lang-link {
	text-decoration: none;
	font-weight: 400;
	color: #fff;
	line-height: 28px;
}
.header__lang-link:focus,
.header__lang-link:hover {
	border-bottom: 2px solid #fff;
}
.header__lang-link:hover {
	opacity: 0.55;
}
@media (min-width: 768px) and (max-width: 1024px) {
	.header__lang-link {
		font-size: 24px;
		line-height: 1.17;
	}
}
.lead {
	color: #fff;
	align-items: center;
	min-width: 320px;
	margin: 0 auto;
	padding-top: 45px;
	box-sizing: border-box;
}

@media (min-width: 768px) {
	.lead {
		padding-top: 48px;
	}
}

@media (min-width: 1024px) {
	.lead {
		min-width: 928px;
	}
}

@media (min-width: 1280px) {
	.lead {
		padding-top: 56px;
		width: 984px;
	}
}

.lead__title {
	text-align: center;
	max-width: 720px;
	min-width: 288px;
	margin: 0 auto;
	padding: 0 16px;
	line-height: 1.1;
	font-weight: 900;
	margin-top: 54px;
	font-size: 96px;
}
@media (min-width: 768px) {
	.lead__title {
		font-size: 96px;
		line-height: 1.04;
	}
}
@media (max-width: 767px) {
	.lead__title {
		font-size: 40px;
	}
}
.lead__subtitle {
  max-width: 640px;
  margin: 0 auto;
  padding: 16px 16px 40px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #fff;
  text-align: center;
}

@media (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 1.2;
    padding: 32px 64px 56px 64px;
  }
}
.lead__figure {
	margin: 0 auto;
}

@media (min-width: 1024px) {
	.lead__figure {
      max-width: 928px;
		padding: 0px 48px 0px 48px;
	}
}
@media (min-width:1280px){
   .lead__figure{
      min-width:984px;
   }
}
.lead__image {
	width: 100%;
}
.lead__caption {
	font-weight: 400;
	margin-top: 8px;
	font-size: 10px;
	line-height: 1.4;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}
@media (min-width: 768px) {
	.lead__caption {
		padding-left: 24px;
	}
}

@media (min-width: 1024px) {
	.lead__caption {
		padding-left: 0;
	}
}
.intro {
	color: #fff;
	min-width: 288px;
	max-width: 984px;
	margin: 0 auto;
	padding: 64px 16px 0 16px;
	box-sizing: border-box;
}
@media (min-width: 768px) {
	.intro {
		padding: 92px 24px 0 24px;
	}
}

@media (min-width: 1024px) {
	.intro {
		padding: 96px 24px 0 28px;
	}
}

@media (min-width: 1280px) {
	.intro {
		padding-left: 0;
	}
}
.intro__title {
  margin: 0;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.09;
}

@media (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 1.07;
  }
}
.intro__text {
	font-size: 16px;
	line-height: 26px;
	margin-top: 44px;
}
.intro__list {
	margin-top: 35px;
	padding: 0;
}
.intro__list-item {
	list-style: none;
	font-size: 12px;
	line-height: 1.5;
	font-weight: 700;
}
.intro__list-span {
	font-weight: 400;
}
.photo-grid {
   gap: 12px;
	margin: 0 auto;
	display: grid;
	gap: 12px;
	padding: 78px 16px 0 16px;
	grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
	grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
}
@media (min-width: 768px) {
  .photo-grid {
    padding: 92px 24px 0 24px;
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    padding: 92px 48px 0 48px;
  }
}
.photo-grid__item {
	width: 100%;
}
.places {
	max-width: 984px;
  margin: 67px auto;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .places {
    margin-top: 88px;
    padding: 0 24px;
  }
}

@media (min-width: 1024px) {
  .places {
    margin-top: 92px;
    padding: 0 48px;
  }
}

.place {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  margin-bottom: 49px;
  row-gap: 32px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    margin-bottom: 73px;
    row-gap: 48px;
    column-gap: 28px;
  }
}

@media (min-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    margin-bottom: 80px;
    column-gap: 32px;
  }
}

@media (min-width: 1280px) {
  .place {
    grid-template-columns: 460px 1fr;
    column-gap: 40px;
  }
}
.place__title {
	font-weight: 900;
	font-size: 32px;
	margin: 0;
	padding: 0;
	align-self: start;
	line-height: 1.09;
	padding: 0 16px;
}

@media (min-width: 768px) {
	.place__title {
		padding: 0;
		font-size: 42px;
		line-height: 1.1;
	}
}

@media (min-width: 1024px) {
	.place__title {
		font-size: 72px;
		line-height: 1.06;
	}
}
.place__img {
	width: 100%;
}
.place__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
@media (max-width:768px){
   .place__container{
      padding: 0px 16px 0px 16px;
   }
}
@media (max-width:425px){
   .place__container{
      padding: 0px 16px 0px 16px;
   }
}
.place__container_link {
	font-size: 18px;
	line-height: 1.2;
	color: #fff;
}
.place__container_url {
	color: #aaaaaa;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1.7;
	letter-spacing: 0.2em;
}
.place__paragraphs{
   padding: 0px 16px 0px 16px;
}
@media (min-width:768px){
   .place__paragraphs{
      padding: 0px 0px 0px 0px;
   }
}
.place__paragraph {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.63;
	margin: 0;
}
.place__paragraph:first-child {
	margin-bottom: 26px;
}
@media (max-width:768px){
   .place__paragraph{
      padding: 0px 16px;
   }
}
@media (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}
@media (max-width:425px){
.place__text{
      padding: 0px 16px 0px 16px;
   }
}
.cover {
	margin: 80px auto;
	background-image: url("./sprint-3-images/cover-trains.jpg");
	background-size: cover;
	max-width: 1184px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.cover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #2a2c2f;
	opacity: 0.3;
	transition: opacity 0.2s ease;
}
.cover:hover::before {
	opacity: 0.8;
}
@media (min-width: 768px) {
  .cover {
    min-height: 480px;
    margin-top: 90px;
  }
}

@media (min-width: 1024px) {
  .cover {
    min-height: 640px;
    margin-top: 95px;
  }
}

@media (min-width: 1280px) {
  .cover {
    min-height: 740px;
    padding-bottom: 0;
  }
}
.cover__item {
	width: 100%;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	position: relative;
}
@media (min-width: 768px) {
  .cover__item {
    min-height: 480px;
  }
}

@media (min-width: 1024px) {
  .cover__item {
    min-height: 640px;
  }
}

@media (min-width: 1280px) {
  .cover__item {
    min-height: 740px;
  }
}
.cover__title {
	max-width: 288px;
	margin: 0;
	text-align: center;
	font-size: 32px;
	line-height: 1.09;
	font-weight: 900;
	margin-bottom: 32px;
}
@media (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 1.06;
  }
}
.cover__subtitle {
	max-width: 288px;
	margin-top: 16px;
	text-align: center;
	font-size: 14px;
	line-height: 1.14;
	font-weight: 400;
	margin: 0;
}
@media (min-width: 768px) {
  .cover__subtitle {
    max-width: 360px;
    margin-top: 32px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.footer {
   display: flex;
   flex-direction:column;
   max-width: 1184px;
	margin: 64px auto 24px auto;
	padding: 0 16px;
}
@media (min-width: 768px) {
	.footer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
		margin-top: 88px;
		padding: 0 24px;

	}
}
@media (min-width: 1024px) {
	.footer {
		margin-top: 92px;
		padding: 0 48px;
	}
}

.footer__links {
	padding: 0;
	margin: 0;
	list-style: none;

}
@media (min-width: 768px) {
	.footer__links {
		display: flex;
		flex-direction: row;
	}
}

.footer__link {
   margin: 32px 18px 32px 0px;
}
.footer__text {
	font-weight: 400;
	font-size: 24px;
	color: #fff;
	text-decoration: none;
   line-height: 1;
   transition: opacity .5s ease;
}
.footer__text:hover{
   opacity: .5;
}
@media (min-width: 768px) {
  .footer__text {
    font-size: 16px;
    line-height: 1.12;
  }
}

.footer__copyright {
	margin: 0;
	margin-top: 48px;
	font-size: 14px;
	line-height: 1;
}
@media (min-width: 768px) {
	.footer__copyright {
		margin-top: 0;
		line-height: 1.14;
		/* text-align: left; */
	}
}