.lead {
	color: #fff;
	align-items: center;
	min-width: 320px;
	margin: 0 auto;
	box-sizing: border-box;
}
@media (max-width:320px){
   .lead{
      margin-top: 48px;
   }
}
@media (min-width:320px){
   .lead{
      margin-top: 48px;
   }
}

@media (min-width: 1024px) {
	.lead {
		min-width: 928px;
	}
}

@media (min-width: 1280px) {
	.lead {
		padding-top: 51px;
		width: 984px;
	}
}