.place__paragraph {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.63;
	margin: 0;
}
.place__paragraph:first-child {
	margin-bottom: 26px;
}
@media (max-width:768px){
   .place__paragraph{
      padding: 0px 16px;
   }
}
@media (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}