.cover__opacity{
   background-image: url("../cover-trains.jpg");
	background-size: cover;
}
.cover__opacity::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #2a2c2f;
	opacity: 0.3;
	transition: opacity 0.5s ease;
}
.cover__opacity:hover::before {
	opacity: 0.8;
}