.lead__caption {
	font-weight: 400;
	margin-top: 8px;
	font-size: 10px;
	line-height: 1.4;
	letter-spacing: 0.15em;
	text-transform: uppercase;
   padding-left: 16px;
}
@media (min-width: 768px) {
	.lead__caption {
		padding-left: 24px;
	}
}

@media (min-width: 1024px) {
	.lead__caption {
		padding-left: 0;
	}
}