.cover__title {
	max-width: 288px;
	margin: 0;
	text-align: center;
	font-size: 32px;
	line-height: 1.09;
	font-weight: 900;
}
@media (min-width: 768px) {
  .cover__title {
    max-width: 560px;
    font-size: 72px;
    line-height: 1.06;
  }
}