.lead__figure {
   margin: 0;
}

@media (min-width: 1024px) {
	.lead__figure {
      margin: 0 auto;
      max-width: 928px;
	}
}
@media (min-width:1280px){
   .lead__figure{
      min-width:984px;
   }
}